body{
    font-family: 'PT Serif', serif;
}
h1{
    
    font-size: 60px;
}
.color{
    color: rgb(63, 128, 128);
}
p{
    font-family: 'PT Serif', serif;
    font-weight: 300;
    font-size: 20px;
}
section{
    display: flex;
}
.hulf-wigth{
    width: 50%;
    padding: 70px;
}
.hulf-wigth img{
    width: 50%;
}
a{
    background-image: linear-gradient(rgb(120, 120, 216), rgb(13, 54, 54));
    color: white;
    padding: 10px 40px;
    border-radius: 5%;
    text-decoration: none;
    font-weight: 700;
}
.mission{
    font-family: 'PT Serif', serif;
    font-size: 40px;
    color: darkblue;
    text-align: center;
}
#colorid{
    color: darkgoldenrod;
}
.boxShadow{
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
    padding: 20px;
   width: 40%;
}
#mcolor{
    background-color: lightgray;
}
#vcolor{
    background-color: lightsalmon;
}
#gcolor{
    background-color: khaki;
}
.boxShadow img{
    width: 35%;
}
.wigth-of-img img{
    width: 50%;
}
.wigth-of-img{
    width: 50%;
    padding: 70px;
}
h2{
    font-size: 40px;
}
